accelerate
aiohttp
aiosignal
annotated-types
async-timeout
attrs
bitsandbytes
blessed
certifi
charset-normalizer
cmake
contourpy
cycler
datasets
deepspeed
dill
docstring-parser
filelock
fire
fonttools
frozenlist
fsspec
gpustat
hjson
huggingface-hub
idna
Jinja2
kiwisolver
lit
markdown-it-py
MarkupSafe
matplotlib
mdurl
mpmath
multidict
multiprocess
networkx
ninja
numpy
nvidia-cublas-cu11
nvidia-cuda-cupti-cu11
nvidia-cuda-nvrtc-cu11
nvidia-cuda-runtime-cu11
nvidia-cudnn-cu11
nvidia-cufft-cu11
nvidia-curand-cu11
nvidia-cusolver-cu11
nvidia-cusparse-cu11
nvidia-ml-py
nvidia-nccl-cu11
nvidia-nvtx-cu11
openai
packaging
pandas
peft
Pillow
psutil
py-cpuinfo
pyarrow
pydantic
pydantic_core
Pygments
pynvml
pyparsing
python-dateutil
pytz
PyYAML
regex
requests
rich
safetensors
scipy
sentencepiece
shtab
six
sympy
tenacity
termcolor
tokenizers
torch
tqdm
transformers
triton
trl
typing_extensions
tyro
tzdata
urllib3
wcwidth
xxhash
yarl
